@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iphone-section {
  padding-top: 2.5rem;
  background-color: #fbfbfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iphone-section h2 {
  font-size: 3rem;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #101010;
  height: 45px;
  font-weight: 200;
  font-size: 12px;
}

.main-nav .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 960px;
}

.main-nav .nav-content a {
  color: #d6d6d6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-nav .nav-content a:hover {
  color: white;
}

.main-nav .nav-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.main-nav .nav-content .hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.main-nav .nav-content .hamburger div {
  margin: 3px;
  height: 1px;
  width: 16px;
  background: #d6d6d6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-nav .nav-content .hamburger:hover div {
  background: white;
}

.unicef-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efeff0;
  padding: 1rem;
}

.unicef-banner a {
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #0066cc;
}

.unicef-banner a::after {
  content: "↗";
}

.unicef-banner a:hover {
  text-decoration: underline;
}

.unicef-banner img {
  height: 35px;
}

@media (max-width: 1024px) {
  .main-nav .nav-content {
    min-width: 95%;
  }
}

@media (max-width: 830px) {
  .main-nav .nav-content .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav .nav-content ul {
    display: none;
    border-top: 1px solid #3f3f3f;
    position: absolute;
    top: 45px;
    left: 0;
    height: 92vh;
    width: 100%;
    background-color: #101010;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .main-nav .nav-content ul li {
    width: 85%;
    border-bottom: 1px solid #3f3f3f;
    padding: 0.8rem 0;
  }
  .main-nav .nav-content ul li:last-child {
    display: none;
  }
}

.active {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.line-change .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.line-change .line2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=main.css.map */