@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ol li {
  list-style: decimal;
}

.center-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-section {
  padding-top: 3rem;
  background-color: #fbfbfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.promo-section h2 {
  font-size: 3rem;
}

.promo-section h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.promo-section a {
  color: #0066cc;
  padding: 1.5rem;
  font-size: 1.1rem;
}

.promo-section a:hover p {
  text-decoration: underline;
}

.promo-section span {
  font-weight: 700;
}

.promo-section i {
  padding-left: 5px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.main-nav {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #101010;
  height: 48px;
  font-weight: 200;
  font-size: 12px;
  z-index: 10;
}

.main-nav .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 960px;
}

.main-nav .nav-content a {
  color: #d6d6d6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-nav .nav-content a:hover {
  color: white;
}

.main-nav .nav-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.main-nav .nav-content .hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.main-nav .nav-content .hamburger div {
  margin: 3px;
  height: 1px;
  width: 16px;
  background: #d6d6d6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-nav .nav-content .hamburger:hover div {
  background: white;
}

.unicef-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #efeff0;
  padding: 1rem;
}

.unicef-banner a {
  font-size: 0.9rem;
  padding-left: 1rem;
  color: #0066cc;
}

.unicef-banner a::after {
  content: "↗";
}

.unicef-banner a:hover {
  text-decoration: underline;
}

.unicef-banner img {
  height: 35px;
}

#ipad-air {
  background: center/cover no-repeat url(/img/ipad-air.jpg);
}

#ipad-air h2,
#ipad-air h3 {
  color: #d6d6d6;
}

#apple-watch {
  background: center/cover no-repeat url(/img/apple-watch.jpg);
}

#iphone-13 {
  background: center/cover no-repeat url(/img/iphone-13-alt.jpg);
}

#studio-display {
  background: center/cover no-repeat url(/img/studio-display.jpg);
}

#apple-fitness {
  background: center/contain no-repeat #efeff0 url(/img/fitness.jpg);
}

#now-and-then {
  background: center/cover no-repeat url(/img/now-and-then.jpg);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#now-and-then * {
  color: #d6d6d6;
}

#now-and-then .text-wrap {
  width: 300px;
  padding-bottom: 1.5rem;
}

#now-and-then .text-wrap h4 {
  font-size: 4rem;
}

#now-and-then .text-wrap h4 em {
  font-weight: 400;
}

#now-and-then .text-wrap h4 span {
  font-size: 2.5rem;
}

#now-and-then .text-wrap p:hover {
  text-decoration: underline;
}

.homepage-collection {
  width: calc(100% - 24px);
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.homepage-collection .homepage-item {
  height: 570px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.homepage-collection .homepage-item i {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.homepage-collection .homepage-item h2 {
  font-size: 2rem;
}

.homepage-collection .homepage-item h3 {
  font-size: 1rem;
}

.homepage-collection .homepage-item span,
.homepage-collection .homepage-item h2,
.homepage-collection .homepage-item h3 {
  color: #101010;
  padding-bottom: 1rem;
}

.homepage-collection .homepage-item .iphone-links {
  color: #0066cc;
}

.homepage-collection .homepage-item .iphone-links i {
  padding-right: 1rem;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.homepage-collection .homepage-item .iphone-links p:hover {
  text-decoration: underline;
}

.footnotes {
  background-color: #efeff0;
  margin-top: 12px;
  color: #6e6e73;
}

.footnotes .footnote-content {
  max-width: 980px;
  margin: auto;
  font-size: 0.7rem;
}

.footnotes .footnote-content li {
  padding-top: 1rem;
}

.footnotes .footnote-content ol li {
  margin-left: 1rem;
}

.footnotes .footnote-content ul {
  padding-bottom: 1rem;
}

.footnotes .footnote-content nav {
  border-top: 1px solid #d6d6d6;
}

.footnotes .footnote-content nav li {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 0.5rem;
}

.footnotes .footnote-content nav li a {
  color: inherit;
}

.footnotes .footnote-content nav li a:hover {
  color: #000;
}

.footnotes .footnote-content .footer-content .footer-coloured-links a {
  color: #0066cc;
}

.footnotes .footnote-content .footer-content div {
  padding-top: 1rem;
}

.footnotes .footnote-content .footer-content .footer-links a {
  padding: 0 0.5rem;
  color: #6e6e73;
  border-right: 1px solid #d6d6d6;
}

.footnotes .footnote-content .footer-content .footer-links a:first-of-type {
  padding-left: 0;
}

@media (max-width: 1024px) {
  .main-nav .nav-content {
    min-width: 95%;
  }
  .iphone-section img {
    min-width: 80%;
  }
  .homepage-collection .homepage-item {
    height: 480px;
  }
}

@media (max-width: 830px) {
  .main-nav .nav-content .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav .nav-content ul {
    border-top: 1px solid #3f3f3f;
    position: absolute;
    top: 45px;
    left: 0;
    height: 92vh;
    width: 100%;
    background-color: #101010;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1rem;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: none;
    z-index: 2;
  }
  .main-nav .nav-content ul li {
    width: 85%;
    border-bottom: 1px solid #3f3f3f;
    padding: 0.8rem 0;
  }
  .main-nav .nav-content ul li:last-child {
    display: none;
  }
  .promo-section h2 {
    font-size: 2rem;
  }
  .promo-section h3 {
    font-size: 1rem;
  }
  .promo-section img {
    width: 100%;
  }
  .homepage-collection {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main-nav .nav-content .active {
  pointer-events: inherit;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.line-change .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.line-change .line2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=main.css.map */