@media (max-width: 1024px) {
  .main-nav .nav-content {
    min-width: 95%;
  }

  // Resize iphone images
  .iphone-section img {
    min-width: 80%;
  }

  // Resize home page collection item
  .homepage-collection .homepage-item {
    height: 480px;
  }
}

@media (max-width: 830px) {
  .main-nav .nav-content {
    .hamburger {
      display: flex;
    }

    ul {
      border-top: 1px solid rgb(63, 63, 63);
      position: absolute;
      top: 45px;
      left: 0;
      height: 92vh;
      width: 100%;
      background-color: $nav-background;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 1rem;
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.5s ease;
      pointer-events: none;
      z-index: 2;

      li {
        width: 85%;
        border-bottom: 1px solid rgb(63, 63, 63);
        padding: 0.8rem 0;

        &:last-child {
          display: none;
        }
      }
    }
  }

  .promo-section {
    // Reduce header size
    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1rem;
    }

    // Resize iphone images
    img {
      width: 100%;
    }
  }

  // Homepage items to single column on mobile
  .homepage-collection {
    grid-template-columns: 1fr;
  }
}

// Class added with javascript
.main-nav .nav-content .active {
  pointer-events: inherit;
  opacity: 1;
  transform: translateY(0);
}

// Change hamaburger to x
.line-change {
  .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .line2 {
    transform: rotate(45deg);
  }
}
