@import "globals";
@import "utilities";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400&display=swap");

// Main Nav
.main-nav {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $nav-background;
  height: 48px;
  font-weight: 200;
  font-size: 12px;
  z-index: 10;

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 960px;

    a {
      color: $nav-font-colour;
      transition: all 0.2s ease;

      &:hover {
        color: white;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    }

    // hamburger lines
    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      transition: transform 0.3s ease;

      div {
        margin: 3px;
        height: 1px;
        width: 16px;
        background: $nav-font-colour;
        transition: all 0.2s ease;
      }

      &:hover div {
        background: white;
      }
    }
  }
}

// Unicef banner
.unicef-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-background;
  padding: 1rem;

  a {
    font-size: 0.9rem;
    padding-left: 1rem;
    color: $link-blue;

    &::after {
      content: "↗";
    }

    &:hover {
      text-decoration: underline;
    }
  }
  img {
    height: 35px;
  }
}

// Home page collection

#ipad-air {
  background: center / cover no-repeat url(/img/ipad-air.jpg);

  h2,
  h3 {
    color: $nav-font-colour;
  }
}

#apple-watch {
  background: center / cover no-repeat url(/img/apple-watch.jpg);
}

#iphone-13 {
  background: center / cover no-repeat url(/img/iphone-13-alt.jpg);
}

#studio-display {
  background: center / cover no-repeat url(/img/studio-display.jpg);
}

#apple-fitness {
  background: center / contain no-repeat $main-background url(/img/fitness.jpg);
}

#now-and-then {
  background: center / cover no-repeat url(/img/now-and-then.jpg);
  justify-content: space-between;

  & * {
    color: $nav-font-colour;
  }

  .text-wrap {
    width: 300px;
    padding-bottom: 1.5rem;
    h4 {
      font-size: 4rem;

      em {
        font-weight: 400;
      }

      span {
        font-size: 2.5rem;
      }
    }
    p:hover {
      text-decoration: underline;
    }
  }
}

.homepage-collection {
  width: calc(100% - 24px);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  // Homepage collection item styles
  .homepage-item {
    height: 570px;
    justify-content: flex-start;

    // Adjust position of icon
    i {
      transform: translateY(-2px);
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1rem;
    }

    span,
    h2,
    h3 {
      color: $nav-background;
      padding-bottom: 1rem;
    }

    .iphone-links {
      color: $link-blue;

      i {
        padding-right: 1rem;
        transform: translateY(2px);
      }

      p:hover {
        text-decoration: underline;
      }
    }
  }
}

// Footnotes

.footnotes {
  background-color: $main-background;
  margin-top: 12px;
  color: $footer-text-colour;

  .footnote-content {
    max-width: 980px;
    margin: auto;
    font-size: 0.7rem;

    li {
      padding-top: 1rem;
    }

    ol li {
      margin-left: 1rem;
    }

    ul {
      padding-bottom: 1rem;
    }
    // Footer nav links
    nav {
      border-top: 1px solid $nav-font-colour;

      li {
        border-bottom: 1px solid $nav-font-colour;
        padding-bottom: 0.5rem;

        a {
          color: inherit;

          &:hover {
            color: #000;
          }
        }
      }
    }
    // Further footer links and content
    .footer-content {
      .footer-coloured-links {
        a {
          color: $link-blue;
        }
      }
      div {
        padding-top: 1rem;
      }

      .footer-links a {
        padding: 0 0.5rem;
        color: $footer-text-colour;
        border-right: 1px solid $nav-font-colour;

        &:first-of-type {
          padding-left: 0;
        }
      }
    }
  }
}

@import "media";
